// Motion
// usage: `#lbz-motion.x[y]`

#lbz-motion() {
  // Easing (timing-function)
  .curve() {
    standard: cubic-bezier(.4, 0, .2, 1);
    deceleration: cubic-bezier(0, 0, .2, 1);
    acceleration: cubic-bezier(.4, 0, 1, 1);
    sharp: cubic-bezier(.4, 0, .6, 1);
  }
}
