// State
#lbz-state() {
  // Overlay opacity values on surface backgrounds
  .surface() {
    enabled: 0;
    disabled: .38;
    hover: .04;
    focused: .12;
    selected: .08;
    activated: .12;
    pressed: .16;
    dragged: .08;
  }

  // Overlay opacity values on primary backgrounds
  .primary() {
    enabled: 0;
    disabled: .38;
    hover: .08;
    focused: .24;
    selected: .16;
    activated: .24;
    pressed: .32;
    dragged: .16;
  }

  // Overlay opacity values on image backgrounds
  .image() {
    enabled: 0;
    disabled: .38;
    hover: .12;
    focused: .36;
    selected: .24;
    activated: .36;
    pressed: .48;
    dragged: .32;
  }
}
