// Theme

// Theme colors
#lbz-theme() {
  // Light theme
  .light() {
    // Primary color
    primary: #6200ee;
    primary-variant: #3700b3;

    // Secondary color
    secondary: #03dac6;
    secondary-variant: #018786;

    // Surface, background, and error colors
    background: #fff;
    surface: #fff;
    error: #b00020;

    // Typography and iconography colors (#fff, #000)
    on-primary: #fff;
    on-secondary: #000;
    on-background: #000;
    on-surface: #000;
    on-error: #fff;
  }

  // Dark theme
  .dark() {
    // Primary color
    primary: #bb86fc;
    primary-variant: #3700b3;

    // Secondary color
    secondary: #03dac6;
    secondary-variant: #03dac6;

    // Surface, background, and error colors
    background: #121212;
    surface: #121212;
    error: #cf6679;

    // Typography and iconography colors (#fff, #000)
    on-primary: #000;
    on-secondary: #000;
    on-background: #fff;
    on-surface: #fff;
    on-error: #000;
  }
}

// Typography and iconography colors
#lbz-theme-text() {
  // Light text on dark backgrounds
  .light() {
    high-emphasis: #fff; // High-emphasis text
    medium-emphasis: rgba(255, 255, 255, .74); // Medium-emphasis text and hint text
    disabled: rgba(255, 255, 255, .38); // Disabled text
  }

  // Dark text on light backgrounds
  .dark() {
    high-emphasis: rgba(0, 0, 0, .87); // High-emphasis text
    medium-emphasis: rgba(0, 0, 0, .6); // Medium-emphasis text and hint text
    disabled: rgba(0, 0, 0, .38); // Disabled text
  }
}

// Outline colors
#lbz-theme-outline() {
  light: rgba(255, 255, 255, .12);
  dark: rgba(0, 0, 0, .12);
}
