// Layout grid
// usage: `var(--lbz-layout-grid-x)`

:root {
  // width >= 840px
  --lbz-layout-grid-column: #lbz-layout-grid.large[column];
  --lbz-layout-grid-gutter: #lbz-layout-grid.large[gutter];
  --lbz-layout-grid-margin: #lbz-layout-grid.large[margin];

  // 720px <= width < 840px
  @media #lbz-layout-grid.medium[media] {
    --lbz-layout-grid-column: #lbz-layout-grid.medium[column];
    --lbz-layout-grid-gutter: #lbz-layout-grid.medium[gutter];
    --lbz-layout-grid-margin: #lbz-layout-grid.medium[margin];
  }

  // 600px <= width < 720px
  @media #lbz-layout-grid.xmedium[media] {
    --lbz-layout-grid-column: #lbz-layout-grid.xmedium[column];
    --lbz-layout-grid-gutter: #lbz-layout-grid.xmedium[gutter];
    --lbz-layout-grid-margin: #lbz-layout-grid.xmedium[margin];
  }

  // width < 600px
  @media #lbz-layout-grid.small[media] {
    --lbz-layout-grid-column: #lbz-layout-grid.small[column];
    --lbz-layout-grid-gutter: #lbz-layout-grid.small[gutter];
    --lbz-layout-grid-margin: #lbz-layout-grid.small[margin];
  }
}
