// usage:
// `var(--lbz-shape-size-x)`(x: small, medium, large)

:root {
  // Small Components (rounded: 0-28, cut: 0-12):
  // Button,
  // Chip,
  // Expanding bottom sheet (collapsed),
  // Extended floating action button,
  // Floating action button,
  // Filled text field,
  // Outlined text field,
  // Snackbar,
  // Tooltip
  --lbz-shape-size-small: 4px;

  // Medium Components (rounded: 0-36, cut: 0-16):
  // Card,
  // Dialog,
  // Image list item,
  // Menu
  --lbz-shape-size-medium: 4px;

  // Large Components (rounded: 0-36, cut: 0-24):
  // Backdrop,
  // Data table,
  // Expanding bottom sheet (expanded / full-screen),
  // Modal bottom sheet (collapsed),
  // Modal bottom sheet (expanded / full-screen),
  // Nav drawer (bottom - collapsed),
  // Nav drawer (bottom - expanded / full-screen),
  // Nav drawer (side),
  // Side sheet,
  // Standard bottom sheet (collapsed),
  // Standard bottom sheet (expanded / full-screen)
  --lbz-shape-size-large: 0;
}
