// Shape
// usage: `var(--lbz-shape-absolute-size-x)` (x: small, medium, large)
//        `var(--lbz-shape-percentage-size-small)`

:root {
  // Small Components
  --lbz-shape-absolute-size-small: #lbz-shape.size.small[absolute];
  --lbz-shape-percentage-size-small: #lbz-shape.size.small[percentage];

  // Medium Components
  --lbz-shape-absolute-size-medium: #lbz-shape.size[medium];

  // Large Components
  --lbz-shape-absolute-size-large: #lbz-shape.size[large];
}
