// Backdrop
.lbz-backdrop {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--lbz-theme-primary);

  & &__back-layer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: calc(100% - 56px);
    color: var(--lbz-theme-text-medium-emphasis-on-primary);

    &__header {
      flex: none;
      height: 64px;

      .lbz-top-app-bar {
        position: relative;
      }
    }

    &__content {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
      opacity: 0;
      transition: opacity 15ms linear;
      overscroll-behavior-y: contain;
      -webkit-overflow-scrolling: touch;
    }
  }

  & &__front-layer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    .lbz-elevation--2();
    border-radius: 24px 24px 0 0;
    width: 100%;
    height: calc(100% - 64px);
    color: var(--lbz-theme-text-medium-emphasis-on-surface);
    .lbz-surface--2();
    transition: transform 250ms #lbz-motion.easing[standard];
    transform: translate3d(0, 64px, 0);

    &__header {
      flex: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      margin: 0 var(--lbz-layout-grid-margin);
      height: 56px;

      // subtitle
      &__title {
        flex: 1;
        margin: 0;
        .lbz-typography--subtitle1();
        .lbz-u-truncate--one-line();
        color: var(--lbz-theme-text-high-emphasis-on-surface);
      }

      // icon
      &__icon {
        flex: none;
        display: none;
        margin-right: -16px;
      }

      // divider
      .lbz-divider {
        position: absolute;
        right: 0;
        bottom: -1px;
        left: 0;
      }
    }

    &__content {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
      overscroll-behavior: contain;
      -webkit-overflow-scrolling: touch;

      // horizontal
      &.is-horizontal {
        overflow-x: auto;
        overflow-y: hidden;
      }
    }

    // scrim
    &__scrim {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: @scrim;
    }
  }

  // active
  &.is-active {
    .lbz-backdrop__back-layer {
      &__content {
        opacity: 1;
      }
    }

    .lbz-backdrop__front-layer {
      transition: transform 300ms #lbz-motion.easing[standard];
      transform: translate3d(0, calc(100% + 8px), 0); // (100% + 64px) - 56px, (100% + 56px) - 48px
      transform: translate3d(0, 100%, 0)\0;

      &__header__icon,
      &__scrim {
        display: block;
      }
    }
  }

  @media (max-width: 719px) {
    & &__back-layer {
      height: calc(100% - 48px);

      &__header {
        height: 56px;
      }
    }

    & &__front-layer {
      height: calc(100% - 56px);
      transform: translate3d(0, 56px, 0);

      &__header {
        height: 48px;
      }
    }
  }
}

html[theme="dark"] {
  .lbz-backdrop {
    .lbz-surface--0();

    .lbz-backdrop__back-layer {
      color: var(--lbz-theme-text-medium-emphasis-on-surface);
    }
  }
}
