// Button
.lbz-button {
  -webkit-appearance: none;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  border: none;
  border-radius: var(--lbz-shape-absolute-size-small);
  padding: 0 8px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  .lbz-typography('button');
  color: var(--lbz-theme-primary);
  fill: currentColor;
  background-color: transparent;
  outline: none;
  user-select: none;

  // full-width
  &.is-full-width {
    width: 100%;

    + .is-full-width {
      margin-top: 12px;
      margin-left: 0;
    }
  }

  // dense
  &.is-dense {
    height: 32px;
    font-size: 13px;
  }

  // icon
  & &__icon {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    font-size: 18px;
  }

  // color
  &&--secondary {
    color: var(--lbz-theme-secondary);
  }

  &&--background {
    color: var(--lbz-theme-on-background);
  }

  &&--surface {
    color: var(--lbz-theme-on-surface);
  }

  &&--error {
    color: var(--lbz-theme-error);
  }

  &&--light {
    color: @white;

    // disabled
    &:not(.lbz-button--contained).is-disabled {
      color: #lbz-theme-text.light[disabled];
    }
  }

  &&--dark {
    color: @black;

    // disabled
    &:not(.lbz-button--contained).is-disabled {
      color: #lbz-theme-text.dark[disabled];
    }
  }

  // type
  &&--outlined {
    border: 1px solid var(--lbz-theme-outline-on-surface);
    padding: 0 15px;

    // color
    &.lbz-button {
      &--light {
        border-color: #lbz-theme-outline[light];
      }

      &--dark {
        border-color: #lbz-theme-outline[dark];
      }
    }
  }

  &&--contained {
    padding: 0 16px;
    color: var(--lbz-theme-on-primary);
    background-color: var(--lbz-theme-primary);
    .lbz-shadow(2);
    transition: box-shadow 280ms #lbz-motion.curve[standard];

    // color
    &.lbz-button {
      &--secondary {
        color: var(--lbz-theme-on-secondary);
        background-color: var(--lbz-theme-secondary);
      }

      &--background {
        color: var(--lbz-theme-on-background);
        background-color: var(--lbz-theme-background);
      }

      &--surface {
        color: var(--lbz-theme-on-surface);
        .lbz-surface(2);

        // unelevated
        &.is-unelevated {
          .lbz-surface(0);
        }
      }

      &--error {
        color: var(--lbz-theme-on-error);
        background-color: var(--lbz-theme-error);
      }

      &--light {
        color: @black;
        .lbz-surface('light', 2);

        // unelevated
        &.is-unelevated {
          .lbz-surface('light', 0);
        }
      }

      &--dark {
        color: @white;
        .lbz-surface('dark', 2);

        // unelevated
        &.is-unelevated {
          .lbz-surface('dark', 0);
        }
      }
    }

    // unelevated
    &.is-unelevated {
      box-shadow: none;
    }

    &.is-disabled {
      color: var(--lbz-theme-text-disabled-on-surface);
      background-color: var(--lbz-theme-outline-on-surface);
      box-shadow: none;
    }

    .lbz-button__icon {
      margin-left: -4px;
    }

    &:not(.is-unelevated):not(.is-disabled) {
      &:hover,
      &:focus {
        .lbz-shadow(4);
      }

      &:active {
        .lbz-shadow(8);
      }
    }
  }

  // disabled
  &.is-disabled {
    color: var(--lbz-theme-text-disabled-on-surface);
  }

  & + & {
    margin-left: 8px;
  }
}
