// Divider
.lbz-divider {
  margin: 0;
  border: none;
  border-bottom: 1px solid;
  border-color: var(--lbz-theme-outline-on-surface);

  // on-background
  &&--on {
    &-primary {
      border-color: var(--lbz-theme-outline-on-primary);
    }

    &-secondary {
      border-color: var(--lbz-theme-outline-on-secondary);
    }

    &-background {
      border-color: var(--lbz-theme-outline-on-background);
    }

    &-error {
      border-color: var(--lbz-theme-outline-on-error);
    }

    &-light {
      border-color: var(--lbz-theme-outline-on-light);
    }

    &-dark {
      border-color: var(--lbz-theme-outline-on-dark);
    }
  }
}
