// FAB
.lbz-fab {
  -webkit-appearance: none;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  right: var(--lbz-layout-grid-margin);
  bottom: var(--lbz-layout-grid-margin);
  .lbz-elevation--6();
  box-sizing: border-box;
  border: none;
  border-radius: var(--lbz-shape-percentage-size-small);
  padding: 0;
  width: 56px;
  height: 56px;
  vertical-align: middle;
  text-decoration: none;
  color: var(--lbz-theme-on-secondary);
  fill: currentColor;
  background-color: var(--lbz-theme-secondary);
  outline: none;
  .lbz-shadow--6();
  transition: opacity 15ms linear 30ms, box-shadow 280ms #lbz-motion.curve[standard], transform 270ms #lbz-motion.curve[deceleration] 0ms;
  user-select: none;

  // inactive
  &.is-inactive {
    opacity: 0;
    transition: opacity 15ms linear 150ms, transform 180ms #lbz-motion.curve[acceleration] 0ms;
    transform: scale(0);
  }

  & &__icon {
    overflow: hidden;
    width: 24px;
    height: 24px;
  }

  .lbz-state {
    &::before,
    &::after {
      background-color: var(--lbz-theme-on-secondary);
    }
  }

  // type
  &&--mini {
    width: 40px;
    height: 40px;
  }

  &&--extended {
    border-radius: 24px;
    padding: 0 20px;
    width: auto;
    max-width: calc(100% - 2 * var(--lbz-layout-grid-margin));
    height: 40px;
    .lbz-typography--button();

    .lbz-fab__icon {
      margin: 0 12px 0 -8px;
    }
  }

  &:hover,
  &:focus {
    .lbz-elevation--8();
    .lbz-shadow--8();
  }

  &:active {
    .lbz-elevation--12();
    .lbz-shadow--12();
  }

  // background
  &&--primary,
  &&--primary-variant {
    color: var(--lbz-theme-on-primary);

    .lbz-state {
      &::before,
      &::after {
        background-color: var(--lbz-theme-on-primary);
      }
    }
  }

  &&--primary {
    background-color: var(--lbz-theme-primary);
  }

  &&--primary-variant {
    background-color: var(--lbz-theme-primary-variant);
  }

  &&--surface {
    color: var(--lbz-theme-on-surface);
    .lbz-surface--6();

    .lbz-state {
      &::before,
      &::after {
        background-color: var(--lbz-theme-on-surface);
      }
    }
  }

  &&--light {
    color: @black;
    background-color: #lbz-theme-surface.light[6];

    .lbz-state {
      &::before,
      &::after {
        background-color: @black;
      }
    }
  }

  &&--dark {
    color: @white;
    background: #lbz-theme-surface.dark[6];

    .lbz-state {
      &::before,
      &::after {
        background-color: @white;
      }
    }
  }
}
