// FAB
.lbz-fab {
  -webkit-appearance: none;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  right: var(--lbz-layout-grid-margin);
  bottom: var(--lbz-layout-grid-margin);
  .lbz-elevation--6();
  box-sizing: border-box;
  border: none;
  border-radius: var(--lbz-shape-percentage-size-small);
  padding: 0;
  width: 56px;
  height: 56px;
  vertical-align: middle;
  color: var(--lbz-theme-on-secondary);
  fill: currentColor;
  background-color: var(--lbz-theme-secondary);
  outline: none;
  .lbz-shadow--6();
  transition: opacity 15ms linear 30ms, box-shadow 280ms #lbz-motion.easing[standard], transform 270ms #lbz-motion.easing[deceleration] 0ms;
  cursor: pointer;
  user-select: none;

  // inactive
  &.is-inactive {
    opacity: 0;
    transition: opacity 15ms linear 150ms, transform 180ms #lbz-motion.easing[acceleration] 0ms;
    transform: scale(0);
  }

  &::before {
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: 1;
    border-radius: 50%;
    width: 200%;
    height: 200%;
    background-color: var(--lbz-theme-on-secondary);
    opacity: #lbz-state.primary[enabled];
    transition: background-color 15ms linear, opacity 15ms linear;
    content: "";
    pointer-events: none;
  }

  & &__icon {
    overflow: hidden;
    width: 24px;
    height: 24px;
  }

  // background
  &&--primary,
  &&--primary-variant {
    color: var(--lbz-theme-on-primary);
    background-color: var(--lbz-theme-primary);

    &::before {
      background-color: var(--lbz-theme-on-primary);
    }
  }

  &&--primary-variant {
    background-color: var(--lbz-theme-primary-variant);
  }

  // type
  &&--mini {
    width: 40px;
    height: 40px;
  }

  &&--extended {
    border-radius: 24px;
    padding: 0 20px;
    width: auto;
    max-width: calc(100% - 2 * var(--lbz-layout-grid-margin));
    height: 40px;
    .lbz-typography--button();

    .lbz-fab__icon {
      margin: 0 12px 0 -8px;
    }
  }

  &:hover {
    .lbz-shadow--8();

    &::before {
      opacity: #lbz-state.primary[hover];
    }
  }

  &:focus {
    .lbz-shadow--8();

    &::before {
      opacity: #lbz-state.primary[focus];
    }
  }

  &:active {
    .lbz-shadow--12();

    &::before {
      opacity: #lbz-state.primary[active];
    }
  }
}
