// Icon button
.lbz-icon-button {
  -webkit-appearance: none;
  display: inline-block;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  border: none;
  padding: 12px;
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: inherit;
  fill: currentColor;
  background-color: transparent;
  outline: none;
  cursor: default;
  user-select: none;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--lbz-theme-on-surface);
    opacity: #lbz-state.surface[enabled];
    transition: background-color 15ms linear, opacity 15ms linear;
    content: "";
    pointer-events: none;
  }

  svg,
  img {
    display: block;
    width: 24px;
    height: 24px;
  }

  // toggle
  & &__icon {
    position: absolute;
    top: 12px;
    left: 12px;
    transition: opacity 100ms linear;

    // on-icon
    &--on {
      opacity: 0;
    }

    // off-icon
    &--off {
      opacity: 1;
    }
  }

  // active
  &.is-active {
    .lbz-icon-button__icon {
      &--on {
        opacity: 1;
      }

      &--off {
        opacity: 0;
      }
    }
  }

  &:not(:disabled):hover {
    cursor: pointer;

    &::before {
      opacity: #lbz-state.surface[hover];
    }
  }

  &:not(:disabled):focus {
    &::before {
      opacity: #lbz-state.surface[focus];
    }
  }

  &:not(:disabled):active {
    &::before {
      opacity: #lbz-state.surface[active];
    }
  }

  // on-background
  &&--primary,
  &&--secondary {
    &::before {
      background-color: var(--lbz-theme-on-primary);
    }

    &:not(:disabled):hover {
      &::before {
        opacity: #lbz-state.primary[hover];
      }
    }

    &:not(:disabled):focus {
      &::before {
        opacity: #lbz-state.primary[focus];
      }
    }

    &:not(:disabled):active {
      &::before {
        opacity: #lbz-state.primary[active];
      }
    }
  }

  &&--secondary {
    &::before {
      background-color: var(--lbz-theme-on-secondary);
    }
  }

  // disabled
  &:disabled {
    color: var(--lbz-theme-text-disabled-on-surface);
  }
}
