// List
.lbz-list {
  list-style-type: none;
  margin: 0;
  box-sizing: border-box;
  padding: 8px 0;

  // subtitle
  & &__subtitle {
    display: block;
    padding: 12px 16px;
    .lbz-typography("subtitle1");
    color: var(--lbz-theme-text-medium-emphasis-on-surface);

    // placement
    &--center {
      text-indent: 56px;
    }
  }

  // type
  &&--two-line {
    .lbz-list-item {
      min-height: 64px;

      .lbz-list-item__avatar,
      .lbz-list-item__media--square {
        margin: 4px 0;
        width: 40px;
      }
    }
  }

  &&--three-line {
    .lbz-list-item {
      align-items: flex-start;
      min-height: 88px;

      .lbz-list-item__end {
        .lbz-icon-button {
          margin-top: -8px;
        }
      }

      .lbz-list-item__avatar,
      .lbz-list-item__media {
        margin: 4px 0;
      }

      .lbz-list-item__media--square {
        width: 40px;
      }
    }
  }

  // dense
  &.is-dense {
    .lbz-list__subtitle,
    .lbz-list-item {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .lbz-list-item {
      min-height: 40px;
    }

    &.lbz-list--two-line .lbz-list-item {
      min-height: 56px;
    }

    &.lbz-list--three-line .lbz-list-item {
      min-height: 76px;
    }
  }

  // NOTE: Convert into Navigation
  &.is-nav {
    .lbz-list__subtitle {
      padding-top: 8px;
      padding-bottom: 0;
      .lbz-typography("body2");
    }

    .lbz-list-item {
      margin: 8px;
      border-radius: 4px;
      padding: 8px;
      min-height: 40px;
      .lbz-typography("subtitle2");
      user-select: none;

      &:first-child {
        margin-top: 2px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .lbz-list-item__start > .lbz-icon {
        margin: 0;
      }

      .lbz-list-item__center {
        .lbz-u-truncate(1);
      }
    }

    .lbz-divider {
      margin: 3px 0 4px;
    }
  }
}
