// Tab
.lbz-tab {
  overflow-y: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 48px;

  & &__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // type
  &&--scrollable {
    .lbz-tab__container {
      padding-left: 52px;
    }

    .lbz-tab-item {
      flex: none;
      min-width: 90px;
      max-width: 360px;
    }
  }

  // alignment
  &&--left,
  &&--center,
  &&--right {
    .lbz-tab-item {
      flex: 0 1 auto;
    }
  }

  &&--center .lbz-tab__container {
    justify-content: center;
  }

  &&--right .lbz-tab__container {
    justify-content: flex-end;
  }

  // on-background
  &&--on {
    &-primary .lbz-tab-item {
      color: var(--lbz-theme-text-medium-emphasis-on-primary);

      &__indicator {
        background-color: var(--lbz-theme-on-primary);
      }

      &.is-active {
        color: var(--lbz-theme-text-high-emphasis-on-primary);
      }
    }

    &-secondary .lbz-tab-item {
      color: var(--lbz-theme-text-medium-emphasis-on-secondary);

      &__indicator {
        background-color: var(--lbz-theme-on-secondary);
      }

      &.is-active {
        color: var(--lbz-theme-text-high-emphasis-on-secondary);
      }
    }

    &-light .lbz-tab-item {
      color: #lbz-theme-text.dark[medium-emphasis];

      &__indicator {
        background-color: @black;
      }

      &.is-active {
        color: #lbz-theme-text.dark[high-emphasis];
      }
    }
  }

  &&--on-dark,
  html[theme="dark"] &:not(.lbz-tab--on-light):not(.lbz-tab--on-dark) {
    .lbz-tab-item {
      color: #lbz-theme-text.light[medium-emphasis];

      &__indicator {
        background-color: @white;
      }

      &.is-active {
        color: #lbz-theme-text.light[high-emphasis];
      }
    }
  }

  html[theme="dark"] &:not(.lbz-tab--on-light):not(.lbz-tab--on-dark) {
    background-color: transparent;

    .lbz-tab-item__state {
      &::before,
      &::after {
        background-color: @white;
      }
    }
  }

  // stacked
  &.is-stacked {
    height: 72px;

    .lbz-tab-item {
      height: 72px;

      &__content {
        flex-direction: column;
      }

      // icon
      &__icon {
        margin-top: 12px;

         + .lbz-tab-item__label {
          margin-top: 4px;
          margin-left: 0;
        }
      }

      &__label {
        margin-bottom: 16px;
        max-width: 100%;
      }
    }
  }
}
