// Tab
.lbz-tab {
  overflow-y: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 48px;

  & &__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: auto;
    overflow-y: hidden;
    transition: 250ms transform #lbz-motion.curve[standard];
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // type
  &&--scrollable {
    .lbz-tab__container {
      padding-left: 52px;
    }

    .lbz-tab-item {
      flex: none;
      min-width: 90px;
      max-width: 360px;
    }
  }

  // align
  &&--start,
  &&--center,
  &&--end {
    .lbz-tab-item {
      flex: 0 1 auto;
    }
  }

  &&--center .lbz-tab__container {
    justify-content: center;
  }

  &&--end .lbz-tab__container {
    justify-content: flex-end;
  }

  // on-background
  &&--on {
    &-primary .lbz-tab-item {
      color: var(--lbz-theme-text-medium-emphasis-on-primary);

      &.lbz-is-active {
        color: var(--lbz-theme-on-primary);
      }
    }

    &-secondary .lbz-tab-item {
      color: var(--lbz-theme-text-medium-emphasis-on-secondary);

      &.lbz-is-active {
        color: var(--lbz-theme-on-secondary);
      }
    }

    &-light .lbz-tab-item {
      color: var(--lbz-theme-text-medium-emphasis-on-light);

      &.lbz-is-active {
        color: var(--lbz-theme-on-light);
      }
    }

    &-dark .lbz-tab-item {
      color: var(--lbz-theme-text-medium-emphasis-on-dark);

      &.lbz-is-active {
        color: var(--lbz-theme-on-dark);
      }
    }
  }

  html[theme="dark"] & {
    background-color: transparent;

    .lbz-tab-item {
      color: var(--lbz-theme-text-medium-emphasis-on-dark);

      &__state::before,
      &__state::after {
        background-color: #lbz-theme.dark[primary];
      }

      &.lbz-is-active {
        color: #lbz-theme.dark[primary];
      }
    }

    .lbz-divider {
      border-color: var(--lbz-theme-outline-on-dark);
    }
  }

  // stacked
  &.lbz-is-stacked {
    height: 72px;

    .lbz-tab-item {
      height: 72px;

      &__content {
        flex-direction: column;
      }

      // icon
      &__icon {
        margin-top: 12px;

         + .lbz-tab-item__label {
          margin-top: 4px;
          margin-left: 0;
        }
      }

      &__label {
        margin-bottom: 16px;
        max-width: 100%;
      }
    }
  }
}
