// Top app bar
.lbz-top-app-bar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  top: 0;
  left: 0;
  .lbz-elevation(4);
  width: 100%;
  color: var(--lbz-theme-on-primary);
  background-color: var(--lbz-theme-primary);
  transition: width 300ms #lbz-motion.curve[standard], box-shadow 200ms linear, transform 250ms #lbz-motion.curve[deceleration];

  // background
  &&--secondary {
    color: var(--lbz-theme-on-secondary);
    background-color: var(--lbz-theme-secondary);
  }

  &&--background {
    color: var(--lbz-theme-on-background);
    background-color: var(--lbz-theme-background);
  }

  &&--surface {
    color: var(--lbz-theme-on-surface);
    .lbz-surface(0);

    // elevated
    &.is-elevated {
      .lbz-surface(4);
    }
  }

  &&--light {
    color: @black;
    .lbz-surface('light'; 0);

    // elevated
    &.is-elevated {
      .lbz-surface('light'; 4);
    }
  }

  &&--dark {
    color: @white;
    .lbz-surface('dark'; 0);

    // elevated
    &.is-elevated {
      .lbz-surface('dark'; 4);
    }
  }

  &&--transparent {
    color: var(--lbz-theme-on-surface);
    background-color: transparent;
  }

  // inactive
  &.is-inactive--scroll-off {
    opacity: 0;
    transition: transform 200ms #lbz-motion.curve[sharp];
    transform: translate3d(0, -100%, 0);
  }

  &.is-inactive--tab-fixed {
    transition: transform 200ms #lbz-motion.curve[sharp];
    transform: translate3d(0, -64px, 0);

    .lbz-top-app-bar__container {
      opacity: 0;
    }
  }

  // elevated
  &.is-elevated {
    .lbz-shadow(4);
  }

  & &__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 8px 12px;
    height: 64px;
  }

  & &__start {
    flex: none;
    min-width: 56px;
  }

  & &__center {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    margin: 0 12px;

    // title
    .lbz-top-app-bar__title {
      flex: 1;
      margin: 0 0 12px;
      .lbz-typography('h6');
      .lbz-u-truncate(1);
    }
  }

  & &__end {
    flex: none;

    .lbz-button {
      margin-top: 6px;
      color: inherit;

      .lbz-button__state {
        &::before,
        &::after {
          background-color: var(--lbz-theme-on-primary);
        }
      }
    }
  }

  // type
  &&--extended {
    // media
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;

    .lbz-top-app-bar {
      &__container {
        height: 128px;
      }

      &__title {
        .lbz-u-truncate(2);
        white-space: normal;
      }
    }
  }

  &&--short {
    display: inline-flex;
    right: auto;
    border-bottom-right-radius: 24px;
    width: auto;
    transition: width 250ms #lbz-motion.curve[standard], box-shadow 200ms linear;

    .lbz-top-app-bar {
      &__start {
        min-width: 48px;
      }

      &__center {
        display: none;
      }

      &__end {
        margin-right: 8px;

        .lbz-icon-button:not(.is-short-action) {
          display: none;
        }
      }
    }
  }

  // dense
  @media #lbz-layout-grid.media[min720] {
    &.is-dense {
      &.is-inactive--tab-fixed {
        transform: translate3d(0, -48px, 0);
      }

      .lbz-top-app-bar__container {
        padding: 0 4px;
        height: 48px;
      }
    }

    &&--extended.is-dense {
      .lbz-top-app-bar__container {
        height: 96px;
      }
    }
  }

  @media #lbz-layout-grid.media[max719] {
    &.is-inactive--tab-fixed {
      transform: translate3d(0, -56px, 0);
    }

    & &__container {
      padding: 4px;
      height: 56px;
    }
  }
}

html[theme="dark"] {
  .lbz-top-app-bar:not(.lbz-top-app-bar--surface):not(.lbz-top-app-bar--light):not(.lbz-top-app-bar--dark) {
    color: @white;
    .lbz-surface('dark'; 0);

    &.is-elevated {
      .lbz-surface('dark'; 4);
    }

    .lbz-button__state,
    .lbz-icon-button__state,
    .lbz-tab-item__state {
      &::before,
      &::after {
        background-color: @white;
      }
    }

    .lbz-tab .lbz-tab-item {
      color: #lbz-theme-text.light[medium-emphasis];

      .lbz-tab-item__indicator {
        background-color: @white;
      }

      &.is-active {
        color: #lbz-theme-text.light[high-emphasis];
      }
    }
  }
}
