// Layout grid
// usage: `.lbz-layout-grid-x();`

.lbz-layout-grid-grid-column-start(@start) {
  /* autoprefixer: ignore next */
  grid-column-start: @start;
}

.lbz-layout-grid-grid-column-end(@end) {
  /* autoprefixer: ignore next */
  grid-column-end: @end;
}

.lbz-layout-grid-grid-row-start(@start) {
  /* autoprefixer: ignore next */
  grid-row-start: @start;
}

.lbz-layout-grid-grid-row-end(@end) {
  /* autoprefixer: ignore next */
  grid-row-end: @end;
}

.lbz-layout-grid-grid-column(@start; @end) {
  grid-column: ~'@{start} / @{end}';
}

.lbz-layout-grid-grid-row(@start; @end) {
  grid-row: ~'@{start} / @{end}';
}
