// Utility
// usage: `.lbz-u-x();`

// Aspect Ratio (16:9, 3:2, 4:3, 1:1, 3:4, and 2:3)
.lbz-u-aspect-ratio(@ratio) {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: @ratio * 100%;
  width: 100%;
  height: 0;
}

.lbz-u-aspect-ratio--16x9() {
  .lbz-u-aspect-ratio(9 / 16);
}

.lbz-u-aspect-ratio--3x2() {
  .lbz-u-aspect-ratio(2 / 3);
}

.lbz-u-aspect-ratio--4x3() {
  .lbz-u-aspect-ratio(3 / 4);
}

.lbz-u-aspect-ratio--1x1() {
  .lbz-u-aspect-ratio(1);
}

.lbz-u-aspect-ratio--3x4() {
  .lbz-u-aspect-ratio(4 / 3);
}

.lbz-u-aspect-ratio--2x3() {
  .lbz-u-aspect-ratio(3 / 2);
}

// Clearfix
.lbz-u-clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

// Truncate
.lbz-u-truncate(@line) when (@line = 1) {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lbz-u-truncate(@line) when (@line > 1) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: @line;
  -webkit-box-orient: vertical;
}

.lbz-u-truncate--one() {
  .lbz-u-truncate(1);
}

.lbz-u-truncate--two() {
  .lbz-u-truncate(2);
}

.lbz-u-truncate--three() {
  .lbz-u-truncate(3);
}
