@import "~normalize.css";

/*! @lbzui/vue v0.4.0 | MIT License | https://github.com/lbzui/vue */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--lbz-theme-surface);
  -webkit-tap-highlight-color: transparent;

  // lock-scroll
  &.lbz-body--lock-scroll {
    overflow: hidden;
  }
}

// Variables
@import "./variables/layout-grid.less";
@import "./variables/shape.less";
@import "./variables/theme.less";
