/*! @lbzui/vue v0.1.5 | MIT License | https://github.com/lbzui/vue */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--lbz-theme-surface);
  -webkit-tap-highlight-color: transparent;
}

// Variables (CSS)
@import "./variables/layout-grid.less";
@import "./variables/shape.less";
@import "./variables/theme.less";
