html body {
  .lbz-surface(1);
}

.lbzui-u-square {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 0 16px 16px 0;
  box-sizing: border-box;
  border: 1px solid var(--lbz-theme-outline-on-surface);
  width: 180px;
  height: 180px;
  vertical-align: top;
}

.lbzui-u-rectangle {
  display: block;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  border: 1px solid var(--lbz-theme-outline-on-surface);
  width: 100%;

  & + & {
    margin-top: 16px;
  }
}

.lbzui-u-app {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 0 16px 16px 0;
  box-sizing: border-box;
  border: 1px solid var(--lbz-theme-outline-on-surface);
  width: 100%;
  max-width: 360px;
  height: 640px;
  vertical-align: top;
}

.lbzui {
  width: 100%;
  height: 100%;
  .lbz-typography('body1');
  color: var(--lbz-theme-text-medium-emphasis-on-surface);

  & &__drawer {
    position: fixed;
    width: 256px;

    .lbz-drawer__title {
      cursor: pointer;
    }
  }

  & &__main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    margin-left: 256px;
    min-height: 100%;

    .lbzui__main__container {
      flex: 1;
      box-sizing: border-box;
      padding: var(--lbz-layout-grid-margin);
    }

    .lbz-typography--h4,
    .lbz-typography--h5 {
      color: var(--lbz-theme-text-high-emphasis-on-surface);
    }
  }

  & &__fab {
    display: none;
  }

  &-home {
    h2 span {
      display: block;
      margin-top: 6px;
      color: var(--lbz-theme-text-medium-emphasis-on-surface);
    }

    a {
      text-decoration: none;
      color: var(--lbz-theme-primary);

      &:hover {
        text-decoration: underline;
      }
    }

    strong {
      font-weight: 500;
    }

    .lbz-typography--body2 a {
      display: inline-block;
      margin: 0 4px 4px 0;

      img {
        display: block;
      }
    }

    .lbz-icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
      color: var(--lbz-theme-text-disabled-on-surface);
    }
  }

  &-styles {
    &-layout-grid {
      .lbz-layout-grid {
        .lbz-layout-grid__cell {
          height: 180px;
          background-color: var(--lbz-theme-outline-on-surface);
        }

        .lbzui-cell {
          height: 90px;
        }
      }
    }

    &-typography {
      h4,
      h5 {
        color: inherit !important;
      }
    }
  }

  &-components {
    &-backdrop .lbz-backdrop {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &-button .lbz-button {
      margin: 0 8px 12px 0 !important;
    }

    &-card .lbz-card {
      display: flex;
      width: 100%;
      max-width: 344px;

      + .lbz-card {
        margin-top: 16px;
      }
    }

    &-drawer {
      .lbz-button {
        display: flex;
        margin-bottom: 16px;
      }

      .lbz-drawer {
        position: relative !important;
        z-index: 0;
      }
    }

    &-fab {
      .lbz-button {
        margin: 0 16px 16px 0;
      }

      .lbz-fab {
        position: relative;
        right: 0;
        bottom: 0;
        margin: 0 16px 16px 0;
      }
    }

    &-icon-button .lbz-icon-button--on {
      &-primary {
        color: var(--lbz-theme-on-primary);
        background-color: var(--lbz-theme-primary);
      }

      &-secondary {
        color: var(--lbz-theme-on-secondary);
        background-color: var(--lbz-theme-secondary);
      }

      &-error {
        color: var(--lbz-theme-on-error);
        background-color: var(--lbz-theme-error);
      }

      &-light {
        color: @black;
        .lbz-surface('light'; 0);
      }

      &-dark {
        color: @white;
        .lbz-surface('dark'; 0);
      }
    }

    &-list .lbz-list {
      max-width: 600px;
    }

    &-radio .lbz-radio {
      margin: 0 8px 0 0 !important;
    }

    &-tab .lbz-tab {
      width: 100%;
      max-width: 360px;

      &.lbz-tab--on {
        &-primary {
          background-color: var(--lbz-theme-primary);
        }

        &-secondary {
          background-color: var(--lbz-theme-secondary);
        }

        &-light {
          .lbz-surface('light'; 0);
        }

        &-dark {
          .lbz-surface('dark'; 0);
        }
      }

      + .lbz-tab {
        margin-top: 16px;
      }
    }

    &-top-app-bar .lbz-top-app-bar {
      &:not(.lbz-top-app-bar--short) {
        width: 100%;
        max-width: 360px;

        + .lbz-top-app-bar {
          margin-top: 16px;
        }
      }

      &.lbz-top-app-bar--short {
        margin: 0 16px 16px 0;
      }
    }
  }

  @media #lbz-layout-grid.media[max719] {
    .lbzui-u-app {
      margin-right: 0;
    }

    .lbzui {
      &__drawer {
        width: 100%;
      }

      &__main {
        margin-left: 0;

        .lbzui__main__container {
          padding-bottom: calc(2 * var(--lbz-layout-grid-margin) + 56px);
        }
      }

      &__fab {
        display: inline-flex;
      }
    }
  }
}
